<div class="container mt-4">
  <h3 class="mb-3">Gestión de Cursos</h3>

  <!-- Formulario -->
  <form (ngSubmit)="onAgregarCurso()" class="mb-4">
    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" class="form-control" [(ngModel)]="nombre" name="nombre" required>
    </div>

    <div class="form-group mt-2">
      <label>Descripción:</label>
      <input type="text" class="form-control" [(ngModel)]="descripcion" name="descripcion">
    </div>

    <div class="form-group mt-2">
      <label>Duración:</label>
      <input type="text" class="form-control" [(ngModel)]="duracion" name="duracion">
    </div>

    <div class="form-group mt-2">
      <label>Categoría:</label>
      <select class="form-select" [(ngModel)]="categoria" name="categoria" required>
        <option value="" disabled selected>Seleccione una categoría</option>
        <option value="Mercadeo">Mercadeo</option>
        <option value="Pedagogía">Pedagogía</option>
        <option value="Programación">Programación</option>
        <option value="Diseño Gráfico">Diseño Gráfico</option>
        <option value="Desarrollo Personal">Desarrollo Personal</option>
        <option value="Tecnología">Tecnología</option>
      </select>
    </div>


    <div class="form-group mt-2">
      <label>Precio:</label>
      <input type="number" class="form-control" [(ngModel)]="precio" name="precio">
    </div>

    <button type="submit" class="btn btn-primary mt-3">Agregar Curso</button>
  </form>

  <!-- Listado -->
  <h4>Cursos actuales:</h4>
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title mb-3">Cursos disponibles</h5>

      <div *ngIf="cursos.length === 0" class="text-center text-muted py-4">
        <p class="mb-0">No hay cursos registrados aún.</p>
      </div>

      <ul *ngIf="cursos.length > 0" class="list-group">
        <li *ngFor="let curso of cursos; let i = index"
            class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <div>
            <h5 class="fw-bold mb-1">{{ curso.nombre }}</h5>
            <p class="mb-1">{{ curso.descripcion }}</p>
            <div class="mb-1">
              <small class="text-muted me-3">Duración: {{ curso.duracion }}</small>
              <small class="text-primary fw-semibold">Precio: ${{ curso.precio }}</small>
            </div>
            <div>
              <small class="badge bg-secondary">{{ curso.categoria }}</small>
            </div>
          </div>

          <div class="d-flex gap-2 mt-2 mt-md-0">
            <button class="btn btn-warning btn-sm" (click)="actualizarCurso(i)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="onEliminarCurso(i)">Eliminar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
